body {
	background-color: #fff;
	font: 11pt;
	color: #404040;
	font-family: Georgia, Garamond, sans-serif;
	background-image: url(http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/silverware.jpg);
	background-attachment: fixed;
}

h1,
h2 {
	background-color: #f0f0f0;
	color: #a4a400;
	font-family: "Century Gothic", Futura, Verdana, sans-serif;
	text-decoration: underline;
	letter-spacing: 0.2em;
}

h1 {
	font: 22pt;
	text-align: center;
}

h2 {
	text-align: left;
	font: 18pt;
}

#music {
	color: #00FF00;
}

.steps1 {
	color: #6B8E23;
}

.steps2 {
	color: #556B2F;
}

p {
	color: #808000;
}
strong {
	font-size: 15pt;
}

ul {
	list-style-image: url(http://courses.cs.washington.edu/courses/cse190m/09sp/homework/1/pie_icon.gif);
}

a {
	color: #a4a400;
}

.comments {
	background-color: #ffffc8;
	font-style: italic;
	text-align: left;
}

a.image {
	border-color: #fff;
	color: #FF6347;
}